@media only screen and (max-width: 375px){
    .login-box {
        width: 80%;
        padding: 15px;
    }
    
    .login-box h2 {
        margin: 0 0 30px;
        font-size: 1.3rem;
        font-weight: 500;
        color: #2f9e40;
    }
    
    
    .login-box .user-box input {
        width: 100%;
        padding: 10px 0;
        font-size: 13px;
        margin-bottom: 20px;
    }
    
    
    .login-box form button {
        padding: 10px 20px;
        font-size: 10px;
        margin-top: 40px;
        letter-spacing: 4px;
    }
    

    
    #tipo_calculo {
        padding: 7px;
        width: 100%;
        margin: 10%;
        margin-left: 0;
    }
    
    .ifrj-container {
        margin-top: 1%;
        height: 10vh;
        margin-bottom: 5%;
    }
    
    .ifrj {
        width: 9vh;
        height: auto;
    }
    
    .autor {
        opacity: 1;
        font-size: 0.4rem;
    }
    
    .tutorial {
        font-size: 0.5rem;
        opacity: 0.8;
        letter-spacing: 1.5px;
        padding: 10px;
    }
    
    #customAlert {
        top: 32%;
        width: 60%;
        padding: 5px;
        font-size: 0.7rem;
        border-radius: 5px;
    }

    .p-explicação{
        text-align: justify;
        font-size: 0.55rem;
        padding: 10px;
        padding-left: 0;
        padding-right: 0;
    }

    #toggle-theme{
        position: absolute;
        top: 38%;
        margin-left: 0;
        z-index: 1000;
        border-radius: 10px;
        padding: 5px;
        opacity: 0.5;
        width: 1vh;
        height: 15%;
        font-size: 0;
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        border-color: rgb(0, 0, 0);
    }

    .escolha {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .links {
        text-align: center; /* Centraliza os links horizontalmente */
    }
    

    .links a {
        display: inline-block; /* Torna os links em linha um ao lado do outro */
        margin: 0 0px; /* Adapte a margem conforme necessário */
        text-decoration: none;
        margin-top: 5%;
        color: #2f9e40;
        font-size: 0.7rem;
        margin-bottom: 5%;
    }
    
    .semestre,
    .anual {
        display: inline-block; /* Torna os elementos com as classes em linha um ao lado do outro */
        margin: 0 0px; /* Adapte a margem conforme necessário */
        text-decoration: none;
        color: black;
        padding: 5px;
    }
    
    .semestre{
        border: 1px solid #2f9e40;
        border-radius: 10px;
        padding-left: 20px;
        width: 50%;
        padding-right: 20px;
        box-shadow: 1px 1px 5px 1px #2f9e40;
        transition: transform 0.2s ease-in-out;
    }
    
    .anual{
        border: 1px solid #2f9e40;
        border-radius: 10px;
        padding-left: 20px;
        width: 50%;
        padding-right: 20px;
        box-shadow: 1px 1px 5px 1px #2f9e40;
        transition: transform 0.7s ease-in-out;
    }

}

@media only screen and (min-width: 376px) and (max-width: 650px){
    .login-box {
        width: 80%;
        padding: 25px;
    }
    
    .login-box h2 {
        margin: 0 0 30px;
        font-size: 1.6rem;
        font-weight: 500;
        color: #2f9e40;
    }
    
    
    .login-box .user-box input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        margin-bottom: 40px;
    }
    
    
    .login-box form button {
        padding: 10px 20px;
        font-size: 15px;
        margin-top: 40px;
        letter-spacing: 4px;
    }
    

    
    #tipo_calculo {
        padding: 7px;
        width: 100%;
        margin: 10%;
        font-size: 1rem;
        margin-left: 0;
    }
    
    .ifrj-container {
        margin-top: 0;
        height: 10vh;
        margin-bottom: 5%;
    }
    
    .ifrj {
        width: 10vh;
        height: auto;
    }
    
    .autor {
        font-size: 0.5rem;
    }
    
    .tutorial {
        font-size: 0.8rem;
        opacity: 0.8;
        margin-top: 1%;
        letter-spacing: 2px;
        padding: 50px;
    }
    
    #customAlert {
        top: 32%;
        width: 60%;
        padding: 10px;
        font-size: 0.9rem;
        border-radius: 5px;
    }

    .p-explicação{
        text-align: justify;
        font-size: 0.85rem;
        padding: 15px;
        padding-left: 0;
        padding-right: 0;
    }

    #toggle-theme{
        position: absolute;
        top: 38%;
        margin-left: 0;
        z-index: 1000;
        border-radius: 10px;
        padding: 5px;
        opacity: 0.5;
        width: 1vh;
        height: 15%;
        font-size: 0;
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        border-color: rgb(0, 0, 0);
    }

    .links a {
        display: inline-block; /* Torna os links em linha um ao lado do outro */
        margin: 0 0px; /* Adapte a margem conforme necessário */
        text-decoration: none;
        margin-top: 5%;
        color: #2f9e40;
        font-size: 1rem;
        margin-bottom: 2%;
    }
    
    .semestre,
    .anual {
        display: inline-block; /* Torna os elementos com as classes em linha um ao lado do outro */
        margin: 0 0px; /* Adapte a margem conforme necessário */
        text-decoration: none;
        color: black;
        padding: 5px;
    }
    
    .semestre{
        border: 1px solid #2f9e40;
        border-radius: 10px;
        padding-left: 20px;
        width: 50%;
        padding-right: 20px;
        box-shadow: 1px 1px 5px 1px #2f9e40;
        transition: transform 0.2s ease-in-out;
    }
    
    .anual{
        border: 1px solid #2f9e40;
        border-radius: 10px;
        padding-left: 20px;
        width: 50%;
        padding-right: 20px;
        box-shadow: 1px 1px 5px 1px #2f9e40;
        transition: transform 0.7s ease-in-out;
    }

}

@media only screen and (min-width: 651px) and (max-width: 1200px){
    .login-box {
        width: 50%;
        padding: 35px;
    }
    
    .login-box h2 {
        margin: 0 0 30px;
        font-size: 1.6rem;
        font-weight: 500;
        color: #2f9e40;
    }
    
    
    .login-box .user-box input {
        width: 100%;
        padding: 10px 0;
        font-size: 20px;
        margin-bottom: 40px;
    }
    
    
    .login-box form button {
        padding: 10px 20px;
        font-size: 18px;
        margin-top: 40px;
        letter-spacing: 4px;
    }
    

    
    #tipo_calculo {
        padding: 10px;
        width: 100%;
        margin: 10%;
        font-size: 1.3rem;
        margin-left: 0;
    }
    
    .ifrj-container {
        margin-top: 0;
        height: 8vh;
        margin-bottom: 5%;
    }
    
    .ifrj {
        width: 8vh;
        height: auto;
    }
    
    .autor {
        font-size: 0.8rem;
    }
    
    .tutorial {
        font-size: 1.3rem;
        opacity: 0.8;
        margin-top: 1%;
        letter-spacing: 2px;
        padding: 100px;
    }
    
    #customAlert {
        top: 33%;
        width: 65%;
        padding: 13px;
        font-size: 1.2rem;
        border-radius: 5px;
    }

    .p-explicação{
        text-align: justify;
        font-size: 1rem;
        padding: 25px;
        padding-left: 0;
        padding-right: 0;
    }

    #toggle-theme{
        position: absolute;
        top: 38%;
        margin-left: 0;
        z-index: 1000;
        border-radius: 10px;
        padding: 5px;
        opacity: 0.5;
        width: 1vh;
        height: 15%;
        font-size: 0;
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        border-color: rgb(0, 0, 0);
    }



    .links a {
        display: inline-block; /* Torna os links em linha um ao lado do outro */
        margin: 0 10px; /* Adapte a margem conforme necessário */
        text-decoration: none;
        margin-top: 5%;
        color: #2f9e40;
        font-size: 1.4rem;
    }
    
    .semestre,
    .anual {
        display: inline-block; /* Torna os elementos com as classes em linha um ao lado do outro */
        margin: 0 10px; /* Adapte a margem conforme necessário */
        text-decoration: none;
        color: black;
        padding: 10px;
    }
    
    .semestre{
        border: 1px solid #2f9e40;
        border-radius: 10px;
        padding-left: 50px;
        width: 30%;
        padding-right: 50px;
        box-shadow: 1px 1px 10px 1px #2f9e40;
        transition: transform 0.2s ease-in-out;
    }
    
    .anual{
        border: 1px solid #2f9e40;
        border-radius: 10px;
        padding-left: 50px;
        width: 30%;
        padding-right: 50px;
        box-shadow: 1px 1px 10px 1px #2f9e40;
        transition: transform 0.7s ease-in-out;
    }
    
    .semestre:hover, .anual:hover{
        transform: scale(1.1);
        background: #2f9e40;
        color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 0 10px #2f9e40,
                    0 0 10px #2f9e40,
                    0 0 10px #2f9e40,
                    0 0 10px #2f9e40;
        border: none;
    }

}

@media only screen and (min-width: 1201px) and (max-width: 2800px){
    .login-box {
        width: 25%;
        padding: 40px;
    }
    
    .login-box h2 {
        margin: 0 0 30px;
        font-size: 1.4rem;
        font-weight: 500;
        color: #2f9e40;
    }
    
    
    .login-box .user-box input {
        width: 100%;
        padding: 10px 0;
        font-size: 20px;
        margin-bottom: 40px;
    }
    
    
    .login-box form button {
        padding: 10px 20px;
        font-size: 18px;
        margin-top: 40px;
        letter-spacing: 4px;
    }
    

    
    #tipo_calculo {
        padding: 10px;
        width: 100%;
        margin: 10%;
        font-size: 1.1rem;
        margin-left: 0;
    }
    
    .ifrj-container {
        margin-top: 0;
        height: 8vh;
        margin-bottom: 5%;
    }
    
    .ifrj {
        width: 8vh;
        height: auto;
    }
    
    .autor {
        font-size: 0.8rem;
    }
    
    .tutorial {
        font-size: 1.2rem;
        opacity: 0.8;
        margin-top: 1%;
        letter-spacing: 2px;
        padding: 20px;
    }
    
    #customAlert {
        top: 29%;
        width: 65%;
        padding: 13px;
        font-size: 1.2rem;
        border-radius: 5px;
    }

    #toggle-theme{
        position: absolute;
        top: 30%;
        margin-left: 0;
        z-index: 1000;
        border-radius: 10px;
        padding: 5px;
        opacity: 0.5;
        width: 1vh;
        height: 15%;
        font-size: 0;
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        border-color: rgb(0, 0, 0);
    }
    .p-explicação{
        text-align: justify;
        font-size: 1rem;
        padding-left: 0;
        padding-top: 15px;
        padding-bottom: 20px;
        padding-right: 0;
    }

    .links a {
        display: inline-block; /* Torna os links em linha um ao lado do outro */
        margin: 0 20px; /* Adapte a margem conforme necessário */
        text-decoration: none;
        margin-top: 5%;
        color: #2f9e40;
        font-size: 2rem;
        text-align: center;
    }
    
    .semestre,
    .anual {
        display: inline-block; /* Torna os elementos com as classes em linha um ao lado do outro */
        margin: 0 10px; /* Adapte a margem conforme necessário */
        text-decoration: none;
        color: black;
        padding: 10px;
        text-align: center;
        font-size: 1.5rem;
    }
    
    .semestre{
        border: 1px solid #2f9e40;
        border-radius: 10px;
        padding-left: 50px;
        width: 30%;
        padding-right: 50px;
        box-shadow: 1px 1px 10px 1px #2f9e40;
        transition: transform 0.2s ease-in-out;
    }
    
    .anual{
        border: 1px solid #2f9e40;
        border-radius: 10px;
        padding-left: 50px;
        width: 20%;
        padding-right: 50px;
        box-shadow: 1px 1px 10px 1px #2f9e40;
        transition: transform 0.7s ease-in-out;
    }
    
    .semestre:hover, .anual:hover{
        transform: scale(1.1);
        background: #2f9e40;
        color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 0 10px #2f9e40,
                    0 0 10px #2f9e40,
                    0 0 10px #2f9e40,
                    0 0 10px #2f9e40;
        border: none;
    }
}

