@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* static/style.css */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode h2{
    color: white;
}

body.dark-mode p{
    color: white;
}

body.dark-mode .login-box{
    background: #333;
}

body.dark-mode input label{
    color: white;

} 

body.dark-mode #tipo_calculo{
    color: white;
    border-color: white;
}


.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 5px;
}

.login-box h2 {
    margin: 0 0 30px;
    font-size: 2rem;
    padding: 0;
    font-weight: 400;
    color: #2f9e40;
    text-align: center;
}


.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #2f9e40;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #2f9e40;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    opacity: 0.7;
    font-size: 16px;
    color: #000000;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #2f9e40;
    font-size: 12px;
}

.login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #2f9e40;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #2f9e40;
    overflow: hidden;
    transition: .2s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-box button:hover {
    background: #2f9e40;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px #2f9e40,
                0 0 10px #2f9e40,
                0 0 10px #2f9e40,
                0 0 10px #2f9e40;
    border: none;
}

button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #2f9e40;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #2f9e40;
    overflow: hidden;
    transition: .2s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-box button span {
    position: absolute;
    display: block;
}

p {
    text-align: center;
    padding: 15px;
    margin-bottom: -10%;
    color: rgb(0, 0, 0);
}

b {
    color: #2f9e40;
}

.verde {
    color: green;
}

.vermelho {
    color: red;
}

select{
    border-radius: 0;
}

#tipo_calculo {
    padding: 5px;
    width: 100%;
    margin: 15%;
    margin-left: 0;
    border-color: #000000;
    background-color: transparent;
    color: #000000;
    transition: color 0.3s;
    border-radius: 0;
}

#tipo_calculo option {
    background-color: rgb(255, 255, 255);
    border-top: none;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    border-radius: 0;
}

#tipo_calculo option:checked {
    background-color: #2f9e40;
    color: rgb(255, 255, 255);
}

#tipo_calculo option:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}

.ifrj-container {
    display: flex;
    align-items: center;
    margin-top: -5%;
    justify-content: center;
    height: 10vh;
    margin-bottom: 5%;
}

.ifrj {
    width: 10vh;
    height: auto;
}


    .autor {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.6rem;
        opacity: 0.8;
        width: 100%;
        letter-spacing: 2px;
        color: #000000;
    }


#resultado {
    font-size: 1.2rem;
    margin: 2%;
}

#resultado b {
    color: #2f9e40;
}

.estilo{
    font-weight: 800;
    font-size: 4rem;
}

.tutorial {
    text-align: center;
    font-size: 0.6rem;
    opacity: 0.8;
    letter-spacing: 2px;
    color: #000000;
    padding: 10px;
}

#customAlert {
    display: none;
    position: absolute;
    top: 25%;
    width: 50vh;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 20px 1px #2f9e40;
    background-color: #2f9e40;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

#customAlert strong{
    color: rgb(255, 255, 255);
}

.opcoes_media {
    display: block;
}

.p-explicação{
    text-align: justify;
    font-size: 1rem;
    padding: 30px;
    padding-left: 0;
    padding-right: 0;
}

body.dark-mode #toggle-theme{
    color: white;
    background: black;
    border-color: none;
    box-shadow: 1px 1px 10px 1px white;
}

#toggle-theme{

    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border-color: none;
    box-shadow: 1px 1px 10px 1px black;
}



.links {
    text-align: center; /* Centraliza os links horizontalmente */
}

.links a {
    display: inline-block; /* Torna os links em linha um ao lado do outro */
    margin: 0 90px; /* Adapte a margem conforme necessário */
    text-decoration: none;
    margin-top: 5%;
    color: #2f9e40;
    font-size: 2rem;
}

.semestre,
.anual {
    display: inline-block; /* Torna os elementos com as classes em linha um ao lado do outro */
    margin: 0 10px; /* Adapte a margem conforme necessário */
    text-decoration: none;
    color: black;
    padding: 10px;
}

.semestre{
    border: 1px solid #2f9e40;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;

    transition: transform 0.2s ease-in-out;
}

.anual{
    border: 1px solid #2f9e40;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;

    transition: transform 0.7s ease-in-out;
}

#darkimg{
    display: none;
}

body.dark-mode #darkimg {
    display: block;
}

body.dark-mode #normalimg {
    display: none;
}


body.dark-mode .links a{
    color: white;
    border-color: white;
}

body.dark-mode .anual{
    background: white !important;
    color: black !important;
}

body.dark-mode .login-box .user-box input {
    color: white;
    border-color: white;
}

body.dark-mode #tipo_calculo option:checked{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

body.dark-mode .login-box button:hover {
    background: #ffffff;
    color: #333;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0 0 10px #ffffff,
                0 0 10px #ffffff,
                0 0 10px #ffffff,
                0 0 10px #ffffff;
    border: none;
}

body.dark-mode button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    background-color: transparent;
    overflow: hidden;
    transition: .2s;
    margin-top: 40px;
    letter-spacing: 4px;
}

body.dark-mode b{
    color: rgb(255, 255, 255) !important;
    font-weight: 700;
}

body.dark-mode #customAlert{
    background: white;
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 20px 1px white;
}

body.dark-mode #customAlert strong{
    color: #333;
}

::placeholder {
    /* Define a opacidade desejada, por exemplo, 0.5 para 50% de opacidade */
    opacity: 0.7;}